<template name="emergence_main">
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  {{> Navbar}}
  <div id="tf-Emergence-Search" class="text-center">
    <div class="overlay">
      <div class="content">
        <div class="container-fluid" align="center">
          <form class="search">
            <div class="col-sm-3"></div>
            <div class="form-group col-sm-6"  style="float:center">
              <input type="text" class="form-control input-lg" name="search_text"
                placeholder="Enter an article DOI or keywords" required>
            </div>
            <div class="col-sm-3"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{> Footer}}
</template>
