<template name="github_event">
  {{#if checked}}
  <div  class="collapse in collap-{{ origine.user }}-{{ origine.repo }}">
    <div style="padding:10px">
      <span class="event-header">
        <img height="16" src="https://avatars1.githubusercontent.com/u/{{ actor.id }}?v=3&amp;s=32" width="16">
      </span>
      <a class="pull-right glyphicon glyphicon-education" aria-hidden="true" aria-label="Review" href="#"  data-toggle="tooltip" data-placement="top" title="Rate relevance"></a>
      {{#if supported type }}
        {{> UI.dynamic template=type}}
      {{else}}
          <span class="message-type"><strong>{{ type }}</strong></span>
          <span class="login">@{{ actor.login }}</span>
          <span class="date">{{ formatTime created_at }}</span>
          {{! stringify this }}
      {{/if}}
    </div>
  </div>
  {{/if}}
</template>

<template name="PushEvent">
  <span class="message-type">
    <strong>New push</strong>
  </span>
    <span class="login">@{{ actor.login }}</span> <span class="date">{{ formatTime created_at }}</span>
    <ul>
      {{#each payload.commits }}
        <li><a href="https://github.com/{{ origine.user }}/{{ origine.repo }}/commits/{{ sha }}">{{ shortSHA sha }}</a>
          {{ message }}
        </li>
      {{/each}}
    </ul>
</template>


<template name="IssueCommentEvent">
  <span class="message-type">
    <strong>
      New comment on Issue <span class="issue-title">"<em>{{ title }}</em>"</span>
    </strong>
  </span>
  <span class="login">@{{ login }}</span> <span class="date">{{ formatTime created_at }}</span>
  <div class="comment">
    {{ payload.comment.body }}
  </div>
</template>
