{% import "bootstrap/wtf.html" as wtf %}
{% extends "landing.html"%}


{% block title %}
Take a tour
{% endblock %}


{% block content %}

    <!-- Home Page
    ==========================================-->
    <div id="tf-home-tour" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1><strong>Your portal to access the networks of</h1>
                <h1><strong>engineering and science knowledge products</h1>
                <p class="lead"> With Emergence from Fractal Flows, you can easily search, discover, share, acquire and exchange engineering</p>
                <p class="lead"> knowledge products. You don't need to search through endless publications and databases any longer. Easily make </p>
                <p class="lead"> sense of data and new research. See in real time how others are using your code, data, model, equations, experiments and files. </p>
            </div>
        </div>
    </div>




        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-Iam">
        <div class="container" style="height:50px;">
                <p class="lead"> <font color=#f5f5f5><strong>Learn what Emregence from Fractal Flows can do for you!</strong></font></p>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle"   type="button" id="menu1" data-toggle="dropdown"><font color=#f5f5f5>I am</font> &#8594;
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_student">a student</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_researcher">a researccher</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_engineer">an engineer</a></li>
                    </ul>
                </div>
       </div>
    </div>



    <!-- take a tour story
    ==========================================-->
    <div id="tf-tour-story_student">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('.static', filename='img/FFConcept.jpg')}}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="#87ceeb">As a student I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">
                                <li>Learn easily about the latest trends in engineering and science.</li>
                                <li>Reformulate complicated scientific text into simpler description for people like me to understand it.</li>
                                <li>Access knowledge for free, if I contribute.</li>
                                <li>Easily identify the current scientific consensus.</li>
                                <li>Get help solving theoretical problems I am having.</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>


        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_researcher">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">As a researcher I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">
                                <li>Share my datasets with my colleagues all over the world.</li>
                                <li>Discover where new research is needed.</li>
                                <li>Measure how much impact my work has had.</li>
                                <li>Get feedback on my research/data/paper very early on before any publication takes place.</li>
                                <li>Discover new colleagues and new knowledge products where I least expect to find them.</li>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{url_for('.static', filename='img/FFConcept.jpg')}}" class="img-responsive">
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>



        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_engineer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('.static', filename='img/FFConcept.jpg')}}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">As an engineer I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">
                                <li>Find datasets that are relevant for my need, where I least expect to find such data.</li>
                                <li>Access new simulation codes fresh from the research community.</li>
                                <li>Ask/motivate the development teams to add new features / fix bugs.</li>
                                <li>Access private datasets.</li>
                                <li>Ask questions to the relevant experts.</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>




        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_KP">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{url_for('.static', filename='img/12idea.184.jpg')}}" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">Your knowledge products</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro"><strong>Knowledge Products include:</strong> experimental data, experimental setup, numerical simulation data, files containing data, simulation code, theoretical solutions, models, models results, equations, mathematical formulations, publications, source code, licenses to simulation code, etc.</p>
                        <p class="intro"><strong>Knowledge Repositories include:</strong> GitHub, GitLab, Zenodo, university databases, open access scholarly publications repositories, personal data server, a shared Google Drive, Dropbox, Box, or OneDrive repositories, etc.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>




    <!-- Take a tour use Emergence from Fractal Flows
    ==========================================-->
    <div id="tf-tour-story_start" class="text-center">
        <div class="overlay">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">Search and exchange</font></strong></h2>
                            <p>
                            <h2><strong> <font color="black">through networks</font></strong></h2>
                            <div class="clearfix"></div>
                        </div>
                        <p>
                        <p>
                        <a class="btn btn-success btn-lg" href="taketour" role="button">Get started...</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{url_for('.static', filename='img/smallw-rold_network.png')}}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT FRACTAL FLOWS © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/jquery.1.11.1.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/SmoothScroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/jquery.isotope.js')}}"></script>

    <script src="{{url_for('.static', filename='js/owl.carousel.js')}}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

{% endblock %}
