{% import "bootstrap/wtf.html" as wtf %}
{% extends "landing.html"%}


{% block title %}
Take a tour
{% endblock %}


{% block navbar %}
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:5000"><strong><span class="color">Fractal Flows</span></strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:5000/#tf-home" class="page-scroll"><b>Home</b></a></li>
            <li><a href="http://127.0.0.1:5000/#tf-about" class="page-scroll"><b>About</b></a></li>
            <li><a href="http://127.0.0.1:5000/taketour" class="page-scroll"><b>How it Works</b></a></li>
            <li><a href="http://127.0.0.1:5000/#tf-team" class="page-scroll"><b>Team</b></a></li><!--
            <!--<li><a href="#tf-contact" class="page-scroll">Contact</a></li>-->
            <li><a href="http://emergencefractalflows.tumblr.com/" class="page-scroll"><b>Our Blog</b></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
</nav>

{% endblock %}

{% block content %}

    <!-- Home Page
    ==========================================-->
    <div id="tf-home-tour" class="text-center" xmlns="http://www.w3.org/1999/html">
        <div class="overlay">
            <div class="content">
                <h1><strong>Your portal to review and reproduce</h1>
                <h1><strong>results in scientific publications</h1>
                <p style="padding: 10px; color: grey; background-color: white; width: 800px; height: 70px; border-radius: 20px; text-align: center; margin-left: 400px; border: black 2px solid">
                    <span>Let's get started with <b><i>Emergence</i></b>. Watch the following video to learn how it works!</span>
                    <a class='youtube' href='https://www.youtube.com/watch?v=B6zVzWU95Sw'>
                        <button type="button" class="btn btn-success btn-lg">Watch the Video &#8594</button>
                    </a>
                    <script>
                        $('.youtube').colorbox({iframe: true, width: 1040, height: 690, href:function(){
                            var videoId = new RegExp('[\\?&]v=([^&#]*)').exec(this.href);
                            if (videoId && videoId[1]) {
                                return 'http://youtube.com/embed/'+videoId[1]+'?rel=0&wmode=transparent';
                            }
                        }});
                    </script>
                </p>
            </div>
        </div>
    </div>




        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-Iam">
        <div class="container" style="height:50px;">
                <p class="lead"> <font color=#f5f5f5><strong>Learn what Emergence from Fractal Flows can do for you!</strong></font></p>
                <div class="dropdown">
                    <button class="btn btn-primary btn-lg dropdown-toggle"   type="button" id="menu1" data-toggle="dropdown"><font color=#f5f5f5>I am</font> &#8594;
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_student">a student</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_researcher">a researccher</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#tf-tour-story_engineer">an engineer</a></li>
                    </ul>
                </div>
       </div>
    </div>



    <!-- take a tour story
    ==========================================-->
    <div id="tf-tour-story_student">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--
                    <video width="525" height="384" controls>
                        <source src="{{url_for('.static', filename='img/StudentVideo.mp4')}}" type="video/mp4">
                        <source src="{{url_for('.static', filename='img/StudentVideo.webm')}}" type="video/webm">
                        <source src="{{url_for('.static', filename='img/StudentVideo.ogg')}}" type="video/ogg">
                    </video>
                    -->
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="#87ceeb">As a student I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <font size="3">
                                <li>Reproduce the results in an article.</li>
                                <li>Request others to reproduce the results in my article.</li>
                                <li>Share my knowledge products with my colleagues all over the world.</li>
                                <li>Access knowledge products for free.</li>
                                <li>Learn easily about the latest trends in engineering and science research.</li>
                                <li>Reformulate complicated scientific text into simpler description for people like me to understand it.</li>
                                <li>Easily identify the current scientific consensus.</li>
                                <li>Get help solving theoretical problems I am having.</li>
                        </font>
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>


        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_researcher">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">As a researcher I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <font size="3">
                                <li>Reproduce the results in an article.</li>
                                <li>Make my article significantly more impactful by requesting others to reproduce the results in my article.</li>
                                <li>Share my knowledge products with my colleagues all over the world.</li>
                                <li>Discover new knowledge products related to my field of research.</li>
                                <!-- <li>Discover where new research is needed.</li>
                                <li>Measure how much impact my work has had.</li> -->
                                <li>Get feedback on my research/data/code/experiment/results/article/etc. in the very early stages of my article publication.</li>
                                <li>Discover new colleagues and new knowledge products where I least expect to find them.</li>
                        </font>
                    </div>
                </div>
                <div class="col-md-6">
                <!--
                    <img src="{{url_for('.static', filename='img/FFConcept.jpg')}}" class="img-responsive">
                 -->

                </div>
            </div>
        </div>
        <hr width="100%">
    </div>



        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_engineer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <!--
                    <img src="{{url_for('.static', filename='img/FFConcept.jpg')}}" class="img-responsive">
                -->
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">As an engineer I can...</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <font size="3">
                                <li>Access new knowledge products fresh from the research community to solve an engineering problem at hand.</li>
                                <li>Quickly access to the scientific consensus about a hypothesis/theory/data/code/result presented in a given article.</li>
                                <li>Easily make sense of new research, I don't need to search through endless publications any longer. </li>
                              <!--  <li>Ask/motivate the development teams to add new features / fix bugs.</li>
                                <li>Access private datasets.</li>
                                <li>Ask questions to the relevant experts.</li>-->
                        </font>
                    </div>
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>




        <!-- Take a tour story
    ==========================================-->
    <div id="tf-tour-story_KP">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><strong> <font color="black">Your knowledge products</font></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <font size="4">Knowledge products are what makes the backbone of any scientific publication. Knowledge products could include: experimental data, experimental setup, numerical simulation data, files containing data, simulation code, theoretical solutions, models, models results, equations, mathematical formulations, source code, licenses to simulation code, etc.</font>
                        <!--
                        <p class="intro"><strong>Knowledge Repositories include:</strong> GitHub, GitLab, Zenodo, university databases, open access scholarly publications repositories, personal data server, a shared Google Drive, Dropbox, Box, or OneDrive repositories, etc.</p>
                        -->
                    </div>
                </div>
                <div class="col-md-6">
<!--                    <img src="{{url_for('.static', filename='img/Big-Data.jpg')}}" class="img-responsive"> -->
                </div>
            </div>
        </div>
        <hr width="100%">
    </div>




    <!-- Take a tour use Emergence from Fractal Flows
    ==========================================-->

    <div id="tf-tour-story_start" class="text-center">
        <div class="overlay">
            <div class="section-title center">
                        <div class="section-title">
                            <h2><strong> <font color="black">Ready to give it a try?</font></strong></h2>
                            <div class="clearfix"></div>
                        </div>
                        <p>
                        <p>
                        <a class="btn btn-success btn-lg" href="http://www.emergence.fractalflows.com" role="button">Get started with <strong>Emergence</strong> &#8594;</a>
            </div>
        </div>
    </div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT FRACTAL FLOWS © 2015.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/jquery.1.11.1.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/SmoothScroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/jquery.isotope.js')}}"></script>

    <script src="{{url_for('.static', filename='js/owl.carousel.js')}}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

{% endblock %}
